MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority
PORT=<---port--->
NODE_ENV=<--- production or development--->      
JWT_SECRET=<---your_jwt_secret_value--->
